{
    "env": {
      "commonjs": true,
      "es6": true,
      "node": true
    },
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended"
  ],    "parser": "babel-eslint",
    "parserOptions": {
      "sourceType": "module"
    },
    "rules": {
      "no-console": "error",
      "react/prop-types": 0,
      "react/react-in-jsx-scope": "off"
    },
    "overrides": [
      {
        "files": [
          "**/*.test.js",
          "**/*.test.jsx"
        ],
        "env": {
          "jest": true
        }
      }
    ]
  }